@if (member) {
<div class="row">
  <div class="col-4">
    <h1>Edit {{ member.username | titlecase }}'s Profile</h1>
  </div>
  <div class="col-8">
    <div class="alert alert-primary py-1">
      @if (editForm.dirty) {
      <p class="mb-0">
        <strong
          >NOTE <i class="fa fa-address-card" aria-hidden="true"></i> : you have
          made changes, unsaved changes will be lost!
        </strong>
      </p>
      }@else {  
        <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 100%;"></div>
          </div>
      }
    </div>
  </div>
  <div class="col-4 mt-3">
    <div class="card text-white bg-primary mb-3" style="max-width: 20rem">
      <img src="{{ member.photoUrl }}" alt="{{ member.photoUrl }}" />
      <div class="card-body">
        <div>
          <strong>Location:</strong>
          <p>{{ member.city }}, {{ member.country }}</p>
        </div>
        <div>
          <strong>Age:</strong>
          <p>{{ member.age }}</p>
        </div>
        <div>
          <strong>Last Active:</strong>
          <p>{{ member.lastActive }}</p>
        </div>
        <div>
          <strong>Member Since:</strong>
          <p>{{ member.created }}</p>
        </div>
      </div>
      <button [disabled]="!editForm.dirty" form="editForm" class="btn btn-light col-12" type="submit">
        Save changes
      </button>
    </div>
  </div>
  <div class="col-8 mt-3">
    <tabset>
      <tab heading="About {{ member.username }}" style="margin-top: 50px">
        <form id="editForm" #editForm="ngForm" (ngSubmit)="updateMember()">
          <h3>Update Your Description</h3>
          <textarea
            class="form-control"
            name="introduction"
            [(ngModel)]="member.introduction"
            rows="4"
          ></textarea>

          <h3 class="mt-4">Update Your Looking For</h3>
          <textarea
            class="form-control"
            name="lookingFor"
            [(ngModel)]="member.lookingFor"
            rows="4"
          ></textarea>

          <h3 class="mt-4">Update Your Interests</h3>
          <textarea
            class="form-control"
            name="interests"
            [(ngModel)]="member.interests"
            rows="4"
          ></textarea>
          <!-- <div class="row">
                        <h3 class="mt-4">Update your Location</h3>
                        <div class="col-6">
                            <label>City</label> <input class="form-control" type="text"[(ngModel)]="member.city" name="city">
                        </div>
                        <div class="col-6">
                            <label>Country</label> <input  class="form-control" type="text"[(ngModel)]="member.country" name="country">
                        </div>
                    </div> -->
          <h3 class="mt-4">Update your Location</h3>
          <div class="d-flex align-items-center mb-5">
            <label>City:</label>
            <input
              class="form-control mx-2"
              type="text"
              [(ngModel)]="member.city"
              name="city"
            />
            <label>Country:</label>
            <input
              class="form-control mx-2"
              type="text"
              [(ngModel)]="member.country"
              name="country"
            />
          </div>
        </form>
      </tab>
      <tab heading="Edit Photos" style="margin-top: 50px"> 

        <app-photo-edit (memberChange)="onMemberChang($event)" [member]="member"></app-photo-edit>
      </tab>
    </tabset>
  </div>
</div>
}
