@if (member) {
    <div class="row">
        <div class="col-4">
           <h1>Edit {{member.username | titlecase}}'s Profile</h1> 
        </div>
        <div class="col-8">
            <div class="alert alert-primary">
                <p><strong>NOTE <i class="fa fa-address-card" aria-hidden="true"></i> : you have to make changes, unsaved changes will be lost! </strong></p>
            </div>
        </div>
        <div class="col-4 mt-3">
            <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">  
                    <img src="{{member.photoUrl}}" alt="{{member.photoUrl}}">
                <div class="card-body">
                    <div>
                        <strong>Location:</strong>
                        <p>{{member.city}}, {{member.country}}</p>
                    </div>
                    <div>
                        <strong>Age:</strong>
                        <p>{{member.age}}</p>
                    </div>
                    <div>
                        <strong>Last Active:</strong>
                        <p>{{member.lastActive}}</p>
                    </div>
                    <div>
                        <strong>Member Since:</strong>
                        <p>{{member.created}}</p>
                    </div>
                </div>
                <button class="btn btn-light col-12">Save</button>
        </div> 
        </div>
        <div class="col-8 mt-3">
            <tabset>
            <tab heading="About {{member.username}}" style="margin-top: 50px;">
                <form >
                    <h3>Update Your Description</h3>              
                    <textarea class="form-control" name="introduction" [(ngModel)]="member.introduction" rows="4"></textarea>

                    <h3 class="mt-4">Update Your Looking For</h3>
                    <textarea class="form-control" name="lookingFor" [(ngModel)]="member.lookingFor" rows="4"></textarea>

                    <h3 class="mt-4">Update Your Interests</h3>
                    <textarea class="form-control" name="interests" [(ngModel)]="member.interests" rows="4"></textarea>
                    <!-- <div class="row">
                        <h3 class="mt-4">Update your Location</h3>
                        <div class="col-6">
                            <label>City</label> <input class="form-control" type="text"[(ngModel)]="member.city" name="city">
                        </div>
                        <div class="col-6">
                            <label>Country</label> <input  class="form-control" type="text"[(ngModel)]="member.country" name="country">
                        </div>
                    </div> -->
                    <h3 class="mt-4">Update your Location</h3>
                    <div class="d-flex align-items-center">
                        <label>City:</label> <input class="form-control mx-2" type="text"[(ngModel)]="member.city" name="city">
                        <label>Country:</label> <input  class="form-control mx-2" type="text"[(ngModel)]="member.country" name="country">
                    </div>
                </form>
            </tab>
            <tab heading="Edit Photos" style="margin-top: 50px;">
                
            </tab>
            </tabset>
        </div>     
    </div>
}